* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.top-header h1 {
  margin: 0; /* Remove default margin */
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin-right: 20px; /* Add spacing between list items */
  display: flex;
  justify-content: space-between;
}

.navbar ul li:last-child {
  margin-right: 0; /* Remove margin from the last list item to prevent extra spacing */
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.flex-auto {
  display: flex;
  flex: auto;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.subscription-grid {
  display: grid;
  gap: 15px;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);

  align-items: stretch;
  justify-content: center;
}

.subscription-card {
  width: 100%;
  justify-self: center;
  transition: 0.3s ease-in-out all;
}

.subscription-card:hover {
  transform: scale(1.1);
}
